.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #96858F;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 24px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 25px;
    color: ghostwhite;
    display: block;
    transition: 0.5s;
    margin: auto;
}

.sidenav a div:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

.icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px;
}

.header-img {
    width: 35%;
    height: 8%;
    margin: -35px auto;
    border-radius: 5px;
    display: block;
}

body {
    background-color: #afb9ff;
    background-size: cover;
    background-repeat: no-repeat;
}

.mini-link:hover {
    border: 1px solid ghostwhite;
}

.toggler {
    margin: 10px auto;
    display: block;
}

.row-2, .row-3, .row-4 {
    margin: 40px auto;
}

.mini-link {
    width: 150px;
    height: 44px;
    background: #6D7993;
    font-size: 15px;
    text-align: center;
    font-family: "Verdana";
    border-radius: 5px;
    padding: auto;
    display: table-cell;
    vertical-align: middle;
}

.closebtn:hover {
    color: #d9534f;
    text-decoration-color: #d9534f;
    -moz-text-decoration-color: #d9534f;
    -webkit-text-decoration-color: #d9534f;

}

.infinite-install-win {
    width: 320px;
    height: 88px;
    background-color: #D5D5D5;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding-top: 5px;
    border-radius: 5px;
    font-family: "Verdana";
    font-size: 20px;
}

#infinite-config-win {
    width: 320px;
    height: 88px;
    background-color: #D5D5D5;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding-top: 5px;
    border-radius: 5px;
    font-family: "Verdana";
    font-size: 20px;
}

.infinite-install-win:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
}

#toggle-span, #top-bar, #mid-bar, #bot-bar {
    visibility: visible;
}

.jumbotron {
    background-color: #96858F;
    color: ghostwhite;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    margin-top: 5px;
    font-family: "Verdana";
    line-height: 2rem;
    font-size: 24px;
    margin-left: 100px;
}