<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Installation Guides</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body class="embed-responsive" id="main">

<!-- Create the container div -->
<div class="container-fluid">
    <!-- First row within container div -->
    <div class="row col-lg-12">
        <div onclick="openNav()" class="toggler col-lg-2" id="toggle-div">
            <div class="icon" id="top-bar"></div>
            <div class="icon" id="mid-bar"></div>
            <div class="icon" id="bot-bar"></div>
        </div>
        <div class="jumbotron col-lg-10" id="jumbotron">Infinite Corporation Knowledge Center</div>
    </div>

    <!-- Second row within container div -->
    <div class="row row-3 col-lg-12">
        <div class="install-guides col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5">
            <h3 class="h3">Install Guides</h3>
            <a href="installs/win2k12-r2.html"><div class="col-lg-2 infinite-install-win">Installing Infinite i on Windows 2012 R2 with Update</div></a>
            <a href="#"><div class="col-lg-2 infinite-install-win">Installing Infinite i on Windows Server 2016</div></a>
        </div>
        <!-- ## Begin spacer ## -->
        <div class="guide-spacer col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        </div>
        <!-- ## End spacer ## -->
        <div class="config-guides col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5">
            <h3 class="h3">Database Configuration Guides</h3>
            <a href="#"><div class="col-lg-2 infinite-install-win">Configuring Infinite i with SQL Server</div></a>
            <a href="#"><div class="col-lg-2 infinite-install-win">Configuring Infinite i with Oracle 11g</div></a>
        </div>
    </div>

    <!-- ## BEGIN the sidebar nav ## -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html"><div class="mini-link">Knowledge Center Home</div></a>
        <a href="installs.html"><div class="mini-link">Installation Guides</div></a>
        <a href="#"><div class="mini-link">Database Setup Guides</div></a>
        <a href="#"><div class="mini-link">Common Errors</div></a>
        <a href="#"><div class="mini-link">Downloads</div></a>
        <a href="request.html"><div class="mini-link">Request Content</div></a>
    </div>
    <!-- ## END the sidebar nav ## -->

    <!-- ## BEGIN the login form and shading overlay ## -->
    <div class="overlay embed-responsive col-lg-12" id="overlay" onclick="closeLogin()"></div>
    <div id="loginForm" class="col-lg-12 login-form">
        <a href="javascript:void(0)" class="closebtn closelog" onclick="closeLogin()">&times;</a>
        <div class="loginData">
            <h6 class="loginHead">Login or <a href="javascript:void(0)" onclick="openSignUp()" class="signup">Sign-Up</a></h6>
            <p>Email: <input class="login-input" type="email" data-ng-model="email"></p>
            <p>Verify Email: <input class="login-input"  type="email" data-ng-model="verifyEmail"></p>
            <p>First Name: <input class="login-input" type="text" data-ng-model="firstName"></p>
            <p>Last Name: <input class="login-input" type="text" data-ng-model="lastName"></p>
        </div>
        <div>
            <button class="login-button" id="login-button" type="submit" onclick="submitLogin()">Log In</button>
            <button class="signup-button" id="signup-button" type="button" onclick="openSignUp()">Sign Up</button>
        </div>
    </div>
    <!-- ## END the login form ## -->
</div>
</body>
<footer class="footer">&copy;Infinite Corporation 2016</footer>
</html>